<div><h4 id="header"></h4><img src="../img/cross.png"></div>
<div class="container">
	<div id="com-box" class="com-box">			
	</div>
	<h3>ВАШ ОТЗЫВ</h3>
	<input id="name" type="text" name="name" placeholder="Введите имя">
	<input id="place" type="text" name="place" placeholder="Введите название места">
	<textarea id="comment" type="text" name="comment" placeholder="Оставьте свой коментарий"></textarea>
   	<div align="right" style="transform: translateY(-45px);">
    	<button id="addButton" class="button">Добавить</button>
    </div>
</div>
